PORT=3000
META_GRAPH_VERSION=v22.0
META_IG_BUSINESS_ID=velixo_edits
META_ACCESS_TOKEN=EAARoDGfWrOUBRYQeyzKRyoZC7ybafnQZAOAfO7NZBSOTNfb3GFeoQmZAsRbKjZB13vgeCI7kZBijfBWe9akI1kIOlEl0ZBPCoJDQZAKhtm4UweIzlaOSu2NoInhw0Bm9SISe5lZCF4f44oYoMj7UaP5mz5AZBoA0VBQZARFnsFmzwfRD2vMwtgutCKCCnjTMZBwZCTZAx3NdUi2DpbPIMSga8pt7xWcSKg4S64821fpAZDZD
META_APP_ID=1240302397861093
META_APP_SECRET=3a0594bad76e41937984c860eb76ac25
OWNER_USERNAME=velixo_edits
GEMINI_API_KEY=AIzaSyCCZXngZJikoUixxzcia9YcfpWD80WG9Ks
