PORT=3000
META_GRAPH_VERSION=v22.0
META_IG_BUSINESS_ID=velixo_edits
META_ACCESS_TOKEN=EAARoDGfWrOUBRdbGZBS0jTv2LJYpRGrTDB6DcZCrhNZClCLTyqizbuS897HuZASIuOShZBLSPZAuKuAkSZCn10aWsdm3g0BOkhwbbm1t1Jd3dybOBbED59gZCfKuUBJ6ppLWFfA3nMf9YhYY05Rye5Ru0kZCMKTCuYgVVtTBtxo50gBm3HaWCYtgVxKfZBVxRmnVPg
META_APP_ID=1240302397861093
META_APP_SECRET=3a0594bad76e41937984c860eb76ac25
OWNER_USERNAME=velixo_edits
GEMINI_API_KEY=AIzaSyCCZXngZJikoUixxzcia9YcfpWD80WG9Ks
